.light {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s, box-shadow 0.2s;
    border: 2px solid white;
}

.light:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-color: #0099ff;
}

.light:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-color: #0099ff;
}

.light__icon {
    margin-right: 20px;
}

.light__icon img {
    height: 45px;
}

.light__name {
    flex: 1;
    font-weight: bold;
}